:host {
  display: block;
  max-width: 960px;
  padding: 2rem 1rem;
}

.todo-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1rem;
}

.todo-item {
  padding: 0 1rem;
  background-color: #eceff2;
  border-radius: 6px;
  border: 3px solid #b3c2d0;
  display: flex;
  justify-content: space-between;

    &.hovered .todo-actions button{
      display: block;
    }
}

.todo-actions {
  display: flex;

  button {
    align-self: center;
    background: #ef4444;
    display: none;
  }
}

.todo-form {
  display: grid;
  gap: 0.75rem;
}

input,
textarea,
button {
  width: 100%;
  box-sizing: border-box;
  padding: 0.7rem 0.8rem;
  border: 1px solid #cbd2d9;
  border-radius: 6px;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.error-message {
  color: #ef4444;
  font-weight: bold;
  margin-top: 1rem;
}

@media (max-width: 700px) {
  :host {
    padding: 1rem;
  }
}